body{

  /* background-color: #33006F; */
}
.navbar{
  /* background-color: #FFF4B7!important; */
}
.imgLogo {
  width: 100px;
}
#navbarNav ul li a {
  position: relative;
  margin-right: 10px;
}
#navbarNav ul li a::before{
  content: '';
  width: 0;
  height: 5px;
  background-color: rgb(163, 163, 163);
  position: absolute;
  bottom: 0;
  transition: 1s;
}
#navbarNav ul li a:hover::before{
  width: 80%;
}
.shoping_car {
  position: relative;
  cursor: pointer;
}
.car i {
  color:rgb(163, 163, 163);
}
.number_items{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(184, 24, 24);
  text-align: center;
  color: #fff;
  font-size: 15px;
}
.sliderImage{
  width: 100%!important;
  height: 85vh!important;
  background-position: center;
  background-size: cover;
}
.car{
  max-height: 500px!important;
}
ul li{
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
}
.fa-solid{
  cursor: pointer;
}
.alert{
  width: 250px;
  position: absolute;
  z-index: 100;
  top: 50px;
  left: 450px;
  
}